.App {
    text-align: center;
    width: 100%;
  }
  
  .UserCard,.FollowerCard{
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    margin: 4% auto;
    padding: 4%;
    background: cornflowerblue;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
  }
  
  .imgContainer{
    width: 30%;
  }
  
  .textContainer{
    width: 60%;
    text-align: center;
  }
  
  img{
    border-radius: 50%;
    border: 1px solid linen;
    height: 200px;
    width: 200px;
  }